.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.navlinks {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

.navlinks:hover {
  text-decoration: none;
  color: rgb(118, 44, 57);
}
