.preNav {
  background-color: rgb(255, 205, 213);
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  align-items: center;
  padding: 0.5%;
}

.preNav_div_1 {
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 2%;
}

a {
  color: rgb(142, 0, 47);
  text-decoration: none;
}

.preNav_div_3 {
  display: flex;
  align-items: center;
  gap: 2%;
}

.preNav_div_1,
.preNav_div_3 :hover {
  color: rgb(71, 71, 71);
}

.preNav_div_2 :hover {
  color: brown;
}

.post_preNav {
  margin-left: 5%;

  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 5%;
}

.logo {
  cursor: pointer;
}

img {
  width: 60px;
}

.post_preNav {
  display: flex;
  align-items: center;

  margin-bottom: 2%;
}

.searchbox {
  display: flex;
  width: 70%;
  align-items: center;
}

input {
  padding: 2%;
  width: 150%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(244, 244, 244);
  border: none;
  margin-left: -5%;
}
