.productCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2%;
  width: 90%;
  margin: auto;
  padding: 1%;
}

.card_container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}

.card_container img {
  width: 150px;
  height: 150px;
}

.card_container div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card_container div button {
  background-color: rgb(104, 0, 23);
  color: white;
  border: none;
}
